--extra-index-url https://download.pytorch.org/whl/cu118

accelerate
transformers
onnxruntime==1.15.1
diffuser==0.23.0
invisible-watermark>=0.2.0
modelscope==1.10.0
Pillow
opencv-python
torchvision
mmdet==2.26.0
mmengine
numpy==1.22.0
protobuf==3.20.1
timm
scikit-image==0.19.3
gradio==3.48.0
controlnet_aux==0.0.6
mediapipe
python-slugify
edge-tts
controlnet_aux==0.0.6
# argparse
SentencePiece
dlib
# facelib
git+https://github.com/sajjjadayobi/FaceLib.git
# mmcv-full (need mim install)


# https://mmdetection.readthedocs.io/en/v2.26.0/get_started.html
# pip install -U openmim -i https://pypi.tuna.tsinghua.edu.cn/simple
# mim install mmcv-full